h1 {
    margin-top: 0;
}

.botaoCadastrar {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.tabelaCategorias {
    border-collapse: collapse;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 100%;
}

.tabelaCategorias, .tabelaCategorias th, .tabelaCategorias td {
    text-align: left;
    padding: 15px;
}

.tabelaCategorias button {
    background-color: transparent;
    text-decoration: none;
    font-family: inherit;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;    
}

.tabelaCategorias th {
    font-size: 20px;
    background-color: #242424;
}

.tabelaCategorias td {
    font-weight: 300;
    border-bottom: 1px solid #242424;
}

.campoCor {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    border-radius: 100%;
}

