* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #9D4EDD;
  --black: #000000;
  --blackLighter: #141414;
  --grayDark: #353535; 
  --white: #FFFBFF;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}